<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="estilos.css">
    <script src="https://kit.fontawesome.com/79df20b027.js" crossorigin="anonymous"></script>
</head>




<body>
    
    <!-- Header comienzo-->

    <header>

 <div class="contenedor">

            
             <div class="menu">
                <div class="logo">
                    <img src="imagenes/logo.png" alt="">
                </div>
                    <nav>
                        <ul>
                            <li><a href="#nosotros">Nosotros</a></li>
                            <li><a href="#clases-seccion">Clases</a></li>
                            <li><a href="#seccion-precios">Servicios</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul>
                    </nav>

                    <div class="social-media">
                        <i class="fa fa-search"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
             </div>
        </div>

        <div class="titular">
            <span>Entrenate</span>
            <h1>{{titulo}}</h1>
            <a href="">Unete</a>
        </div>

    </header>
    <!-- Header final -->

    <!-- Seccion Elegirnos comienzo -->

    <section class="elegirnos-seccion" id="elegirnos-seccion">
       
        <div class="titulo">
            <span>Por que elegirnos</span>
            <h2>LLeva tus limites al maximo</h2>
        </div>
  
        <div class="contenedor-tarjetas">
            <div class="tarjeta">
                <i class="fa-solid fa-heart-pulse"></i>
                <h3>Unico para tus necesidades</h3>
                <p>Te ofrecemos control mensual de tu salud e implementamos las técnicas deportivas para cada persona.</p>
            </div>

            <div class="tarjeta">
                <i class="fa-regular fa-dumbbell"></i>
                <h3>entrenamiento personalizado.</h3>
                <p>Te armamos el plan adecuado a tu organismo,tratamos de mejorar ejercicios e ir mas allá de nuestros límites.</p>
            </div>

            <div class="tarjeta">
                <i class="fa-solid fa-person-biking"></i>
                <h3>Equipamiento tecnológico</h3>
                <p>te ofrecemos el mejor equipamiento de última tecnología,para que disfrutes de tu nuevo estilo de vida.</p>
            </div>

            <div class="tarjeta">
                <i class="fa-solid fa-person-biking"></i>
                <h3>Equipamiento tecnológico</h3>
                <p>te ofrecemos el mejor equipamiento de última tecnología,para que disfrutes de tu nuevo estilo de vida.</p>
            </div>
       </div>
    </section>

   <!-- Seccion Elegirnos final -->


   <!-- Seccion Clases Comienzo -->

   <section class="clases-seccion" id="clases-seccion">

        <div class="clases-titulo">
            <span>Nuestras Clases</span>
            <h2>Que podemos ofrecerte</h2>
        </div>

        <div class="contenedor-clases">

        <div class="item-clases">
            <div class="clases-img"><img src="imagenes/class-1.jpg" alt=""></div>
                <div class="textos">
                    <span>Fuerza</span>
                    <h5>weightlifting</h5>
                </div>
           </div>

        <div class="item-clases">
            <div class="clases-img"><img src="imagenes/class-2.jpg" alt=""></div>
                <div class="textos">
                <span>Cardio</span>
                <h5>Running, cycling</h5>
                </div>
       </div>

        <div class="item-clases">
                <div class="clases-img"> <img src="imagenes/class-3.jpg" alt=""></div>
                <div class="textos">
                <span>Fuerza</span>
                <h5>Metabolismo</h5>
             </div>
        </div>

        <div class="item-clases">
                <div class="clases-img"><img src="imagenes/class-4.jpg" alt=""></div>
                <div class="textos">
                <span>Cardio</span>
                <h5>Running,cycling</h5>
            </div>
        </div>
   
        <div class="item-clases">
                <div class="clases-img"><img src="imagenes/class-5.jpg" alt=""></div>
                <div class="textos">
                <span>training</span>
                <h5>boxeo</h5>
             </div>
        </div>
    </div>

   </section>

    <!-- Seccion Clases final-->


    <!--Seccion banner-->

    <section class="banner-seccion">

        <div class="contenedor-banner">
                <div class="titular-banner">
                   <p>Donde</p>
                   <h3>Salud <br>Destreza <br> y belleza se encuentran</h3>
                   <a href="">cita</a>
                </div>
        </div>

    </section>
    <!--Seccion banner final-->

    
    <!-- Precios seccion comienzo-->

    <section class="seccion-precios" id="seccion-precios">

        <div class="contenedor-precios">

            <div class="seccion-titulo-precios">
                <span>Nuestro Plan</span>
                <h2>Elegi el precio de tu plan</h2>
            </div>

        <div class="precios">

            <div class="item-precios">
                <h3>Class drop-in</h3>
                <h2>$5000</h2> 
                <span>Clases</span>
             <ul>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
            </ul>
            <a href="#">Contrata ahora</a>
            </div>


            <div class="item-precios">
                <h3>Class drop-in</h3>
                <h2>$5000</h2> 
                <span>Clases</span>
             <ul>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
            </ul>
                <a href="#">Contrata ahora</a> 
            </div>


            <div class="item-precios">
                <h3>Class drop-in</h3>
                <h2>$5000</h2> 
                <span>Clases</span>
            <ul>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
                <li>Personal</li>
            </ul>
                <a href="#">Contrata ahora</a>
            </div>

        </div>

    </section>

    <!--Precios seccion final-->
    <!--Seccion galeria de fotos comienzo-->

   <section class="galeria-seccion">

                <div class="galeria-contenedor">

                  <div class="grid-item1" style="background: url('imagenes/gallery-1.jpg');"></div>
                  <div class="grid-item" style="background: url('imagenes/gallery-2.jpg');"></div>
                  <div class="grid-item" style="background: url('imagenes/gallery-3.jpg');"></div>
                  <div class="grid-item" style="background: url('imagenes/gallery-4.jpg');"></div>
                  <div class="grid-item" style="background: url('imagenes/gallery-5.jpg');"></div>
                  <div class="grid-item6" style="background: url('imagenes/gallery-6.jpg');"></div>
                 
                  

                </div>

        </section>

    <!--Seccion galeria de fotos final-->


    <!-- Seccion contacto comienzo-->

    <section class="contacto" id="contacto">

        <div class="contacto-contenedor">
            

            <div class="tarjeta-contacto">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <p>Manuel ugarte 3133
                <br>Capital Federal, <br> Bs. As, Argentina.
                </p>
            </div>

            <div class="tarjeta-contacto">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <p>223-5822514
                <br>223-5822514
                </p>
            </div>

            <div class="tarjeta-contacto">
                <i class="fa-solid fa-envelope"></i>
                <p>belenxmorales@gmail.com
                </p>
            </div>
            
        </div>

    </section>

    <!-- Seccion contacto final-->
    

    <!--Seccion footer comiezo-->

   <section class="Seccion-footer">

    <div class="contenedor-footer">

        <div class="footer-logo">
            <a href=""><img src="imagenes/logo.png" alt=""></a>
        </div>

           
        <div class="social-footer">
            <i class="fa fa-search"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        
    </div>
           
    </section>
    <!--Seccion footer final-->

</body>
</html>